<header>
  <div class="header">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-12 d-block d-md-none">
          <div class="burger__menu">
            <input id="checkbox" type="checkbox" />
            <label class="burger__button" for="checkbox"><span></span></label>
            <ul class="burger__list">
              <li class="burger__logo">
                <a
                  class="d-flex justify-content-center"
                  href="javascript:void(0)"
                  ><img
                    class="nav__img"
                    src="images/nav/mobile_logo.svg"
                    alt="mobile_logo"
                /></a>
              </li>
              <li class="burger__item">
                <a class="burger__link" href="javascript:void(0)"
                  >Lorem ipsum</a
                >
              </li>
              <li class="burger__item">
                <a class="burger__link" href="javascript:void(0)"
                  >Lorem ipsum</a
                >
              </li>
              <li class="burger__item">
                <a class="burger__link" href="javascript:void(0)"
                  >Lorem ipsum
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="nav__logo">
            <a class="d-flex" href="javascript:void(0)"
              ><img
                class="nav__img d-none d-md-block"
                src="images/nav/logo.svg"
                alt="logo"/><img
                class="nav__img d-block d-md-none"
                src="images/nav/mobile_logo.svg"
                alt="mobile logo"
            /></a>
          </div>
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 d-none d-md-block">
          <div class="nav__menu">
            <ul class="nav__list d-flex justify-content-between">
              <li class="nav__item">
                <a class="nav__link" href="javascript:void(0)">Lorem ipsum</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="javascript:void(0)">Lorem ipsum</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="javascript:void(0)">Lorem ipsum</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
