<header>
  <div class="header">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-12 d-block d-md-none">
          <div class="burger__menu">
            <div class="burger__button" (click)="visible = !visible">
              <img
                src="assets/images/header/burger.svg"
                *ngIf="visible"
                alt="burger button"
              />
              <img
                src="assets/images/header/close.svg"
                *ngIf="!visible"
                alt="close button"
              />
            </div>
            <ul class="burger__list" *ngIf="!visible">
              <li class="burger__logo">
                <a
                  class="d-flex justify-content-center"
                  href="javascript:void(0)"
                  ><img
                    class="nav__img"
                    src="assets/images/nav/mobile_logo.svg"
                    alt="mobile_logo"
                /></a>
              </li>
              <li class="burger__item">
                <a
                  class="burger__link"
                  (click)="visible = !visible"
                  href="javascript:void(0)"
                  >Lorem ipsum</a
                >
              </li>
              <li class="burger__item">
                <a
                  class="burger__link"
                  (click)="visible = !visible"
                  href="javascript:void(0)"
                  >Lorem ipsum</a
                >
              </li>
              <li class="burger__item">
                <a
                  class="burger__link"
                  (click)="visible = !visible"
                  href="javascript:void(0)"
                  >Lorem ipsum</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="nav__logo">
            <a class="d-flex" href="javascript:void(0)"
              ><img
                class="nav__img d-none d-md-block"
                src="assets/images/nav/logo.svg"
                alt="logo"/><img
                class="nav-mobile__img d-block d-md-none"
                src="assets/images/nav/mobile_logo.svg"
                alt="mobile logo"
            /></a>
          </div>
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 d-none d-md-block">
          <div class="nav__menu">
            <ul class="nav__list d-flex justify-content-between">
              <li class="nav__item">
                <a class="nav__link" href="javascript:void(0)">Lorem ipsum</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="javascript:void(0)">Lorem ipsum</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="javascript:void(0)">Lorem ipsum</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
