<section>
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="banner__title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </h1>
          <img
            class="banner__image mx-auto d-block d-sm-none"
            src="images/header/header_mob.png"
            alt="mobile image"
          />
          <h2 class="banner__desc">
            Sed do eiusmod tempor incididunt ut labore et dolore
          </h2>
        </div>
        <div class="col-6 col-md-12">
          <h3 class="banner__subtitle">Lorem ipsum:</h3>
        </div>
        <div class="col-6 d-block d-md-none">
          <div class="banner-mobile__buttons ml-n2 d-flex justify-content-end">
            <a class="banner-mobile__btn" href="javascript:void(0)"
              ><img
                class="banner__img"
                src="images/header/app_mob.svg"
                alt="app mobile store"/></a
            ><a class="banner-mobile__btn" href="javascript:void(0)"
              ><img
                class="banner__img"
                src="images/header/google_mob.svg"
                alt="google mobile store"
            /></a>
          </div>
        </div>
        <div class="col-12 d-none d-md-block">
          <div class="banner__buttons d-flex justify-content-center">
            <a class="banner__btn" href="javascript:void(0)"
              ><img
                class="banner__img"
                src="images/header/app.svg"
                alt="app store"/></a
            ><a class="banner__btn" href="javascript:void(0)"
              ><img
                class="banner__img"
                src="images/header/google.svg"
                alt="google store"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
