<section class="widget">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-none d-md-block">
        <img src="assets/images/second__widget/img2.png" alt="second image" />
      </div>
      <div class="col-lg-6">
        <div class="widget__block second-widget__block">
          <h2 class="widget__title widget-second__title">
            Ut placerat orci nulla pellentes
          </h2>
          <img
            class="d-block d-md-none widget-second__img"
            src="assets/images/second__widget/img2.png"
            alt="second mobile image"
          />
          <ul class="widget-second__items">
            <li class="widget__item mr-0">
              <h3 class="widget__subtitle">Vestibulum rhoncus</h3>
              <p class="widget__txt">
                At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id
                diam maecenas ultricies mi eget.
              </p>
            </li>
            <li class="widget__item mr-0">
              <h3 class="widget__subtitle pt-1 pt-md-0">Lectus arcu</h3>
              <p class="widget__txt">
                Bibendum at varius. Turpis nunc eget lorem dolor sed viverra
                ipsum. Tortor consequat id porta nibh venenatis.
              </p>
            </li>
            <li class="widget__item">
              <h3 class="widget__subtitle pt-md-0">Montes nascetur</h3>
              <p class="widget__txt">
                ridiculus mus mauris vitae ultricies leo. Libero justo laoreet
                sit amet. Morbi tincidunt augue interdum velit.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
