<section>
  <div class="get">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="set__title text-center">Lorem ipsum!</h2>
        </div>
        <div class="col-12 d-none d-md-block">
          <div
            class="get__buttons banner__buttons d-flex justify-content-center"
          >
            <a class="banner__btn" href="javascript:void(0)"
              ><img
                class="banner__img"
                src="images/header/app.svg"
                alt="app store"/></a
            ><a class="banner__btn" href="javascript:void(0)"
              ><img
                class="banner__img"
                src="images/header/google.svg"
                alt="google store"
            /></a>
          </div>
        </div>
        <div class="col-12 d-block d-md-none">
          <div class="banner-mobile__buttons d-flex justify-content-center">
            <a class="banner-mobile__btn" href="javascript:void(0)"
              ><img
                class="banner__img"
                src="images/header/app_mob.svg"
                alt="app mobile store"/></a
            ><a class="banner-mobile__btn" href="javascript:void(0)"
              ><img
                class="banner__img"
                src="images/header/google_mob.svg"
                alt="google mobile store"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
