<section class="widget">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1">
        <h2 class="widget__title">
          Viverra tellus in hac habitasse platea dictumst
        </h2>
        <ul class="widget-first__items">
          <li class="widget__item">
            <h3 class="widget__subtitle">Vestibulum rhoncus</h3>
            <p class="widget__txt">
              At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id
              diam maecenas ultricies mi eget.
            </p>
          </li>
          <li class="widget__item">
            <h3 class="widget__subtitle">Lectus arcu</h3>
            <p class="widget__txt">
              Bibendum at varius. Turpis nunc eget lorem dolor sed viverra
              ipsum. Tortor consequat id porta nibh venenatis.
            </p>
          </li>
          <li class="widget__item">
            <h3 class="widget__subtitle">Montes nascetur</h3>
            <p class="widget__txt">
              ridiculus mus mauris vitae ultricies leo. Libero justo laoreet sit
              amet. Morbi tincidunt augue interdum velit.
            </p>
          </li>
        </ul>
        <a
          class="widget__btn d-flex align-items-center justify-content-center"
          href="javascript:void(0)"
          >Lorem ipsum</a
        >
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <img
          class="d-none d-md-block widget__img widget-first__img img-fluid"
          src="./images/first-widget/img1.png"
          alt="first image"
        /><img
          class="d-block d-md-none widget__img widget-first__img"
          src="./images/first-widget/img1_mob.png"
          alt="first mobile image"
        />
      </div>
    </div>
  </div>
</section>
