.widget {
  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    margin-top: 2px;

    @media screen and (max-width: 575px) {
      font-size: 24px;
      line-height: 33px;
      margin-left: 5px;
    }
  }

  &-second__title {
    @media screen and (max-width: 575px) {
      margin-top: 100px;
    }
  }

  &-first__items {
    @media screen and (max-width: 575px) {
      margin-top: 136vw;
    }
  }
  &__item {
    margin-left: 70px;
    margin-top: 61px;
    margin-right: 100px;

    @media screen and (max-width: 575px) {
      margin-right: 0px;
    }

    &:before {
      content: "";
      position: absolute;
      width: 47px;
      height: 47px;
      background-color: #c4c4c4;
      border-radius: 50%;
      margin-left: -67px;
      margin-top: -5px;
    }
    &:nth-child(2) {
      margin-top: 58px;
      @media screen and (max-width: 575px) {
        margin-top: 63px;
      }
    }
    &:last-child {
      margin-top: 58px;
    }
  }
  &__subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #fbfbfb;
    @media screen and (max-width: 575px) {
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.3px;
    }
  }
  &__txt {
    margin-top: 20px;
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;
    color: #adadad;
    letter-spacing: 0.5px;

    @media screen and (max-width: 575px) {
      margin-top: 0;
      letter-spacing: 0;
    }
  }

  &__btn {
    margin-left: 3px;
    margin-top: 88px;
    margin-bottom: 266px;
    font-family: "Proxima Nova";
    display: block;
    width: 245px;
    height: 50px;
    background: #0dc78f;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    transition: all 0.3s linear;

    @media screen and (max-width: 575px) {
      margin-top: 60px;
      margin-bottom: 0px;
    }

    &:hover {
      color: #0dc78f;
      background-color: #fff;
      text-decoration: none;
      transition: all 0.3s linear;
    }
  }

  &__img {
    @media screen and (max-width: 575px) {
      right: 0;
      max-width: 100%;
      margin-top: 166px;
    }
  }
  &-first__img {
    position: absolute;
    width: 934px;

    @media screen and (max-width: 991px) {
      position: static;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 575px) {
      position: absolute;
      margin-bottom: 20px;
    }
  }

  &-second__img {
    @media screen and (max-width: 575px) {
      margin-top: 58px;
    }
  }
}

.second-widget__block {
  margin-top: 56px;
  margin-left: 104px;
  padding-bottom: 458px;

  @media screen and (max-width: 1200px) {
    padding-bottom: 190px;
    margin-left: 0;
  }

  @media screen and (max-width: 575px) {
    margin-top: 0;

    padding-bottom: 0;
  }
}
