.slider {
  padding-bottom: 190px;
  color: #fbfbfb;
  @media screen and (max-width: 575px) {
    padding-bottom: 80px;
  }
  &__title {
    padding-top: 129px;
    font-weight: 300;
    font-size: 35px;
    line-height: 48px;
    color: #fbfbfb;

    @media screen and (max-width: 575px) {
      padding-top: 99px;
      font-size: 24px;
      line-height: 33px;
    }
  }
  &__block {
    padding-top: 104px;

    @media screen and (max-width: 575px) {
      padding-top: 50px;
    }
  }

  &__content {
    position: relative;
  }

  &__content:before,
  &__content:after {
    font-family: "FontAwesome";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 50%;
    text-align: center;
    padding-top: 14px;
    margin-top: -12px;

    @media screen and (max-width: 575px) {
      width: 0;
      height: 0;
      color: #fbfbfb;
      padding-top: 0;
      margin-top: 5px;
      top: 0;
    }
  }
  &__content:before {
    content: "\f053";
    margin-left: -15px;

    @media screen and (max-width: 575px) {
      margin-left: 2px;
      left: 0;
    }
  }

  &__content:hover:before,
  &__content:hover:after {
    cursor: pointer;
  }

  &__content:after {
    content: "\f054";
    right: 0;
    @media screen and (max-width: 575px) {
      right: 10px;
    }
  }

  &__desc {
    padding-left: 143px;
    font-style: italic;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.8px;

    @media screen and (max-width: 991px) {
      padding-left: 102px;
    }
    @media screen and (max-width: 575px) {
      font-size: 18px;
      line-height: 34px;
      padding-left: 0;
      margin-left: -5px;
    }
  }
  &__txt {
    padding-left: 143px;
    padding-right: 170px;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.401333px;

    @media screen and (max-width: 991px) {
      padding-left: 102px;
    }

    @media screen and (max-width: 575px) {
      margin-left: -5px;
      margin-top: -5px;
      font-size: 14px;
      line-height: 19px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
