<section>
  <div class="slider">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5">
          <h2 class="slider__title">Lorem ipsum dolor sit amet</h2>
        </div>
        <div class="col-12 col-md-7">
          <div class="slider__block">
            <div class="slider__content mx-auto d-flex flex-column justify-content-center align-items-start pl-5">
              <p class="slider__desc">Nibh nisl</p>
              <p class="slider__txt">
                 Condimentum id venenatis a condimentum vitae sapien<br/>pellentesque. At tellus at urna condimentum mattis pellentesque id nibh tortor.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
