<section class="set">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="set__title">Ullamcorper dignissim</h2>
      </div>
      <ul
        class="set__items d-flex justify-content-between flex-column flex-md-row"
      >
        <li class="set__item">
          <h3 class="set__subtitle">Lectus arcu</h3>
          <p class="set__txt">
            Bibendum at varius. Turpis nunc eget lorem dolor sed viverra ipsum.
            Tortor consequat id porta nibh venenatis.
          </p>
        </li>
        <li class="set__item">
          <h3 class="set__subtitle">Morbi tincidunt</h3>
          <p class="set__txt">
            Ugue interdum velit. Ut placerat orci nulla pellentesque dignissim
            enim sit amet. Ut sem nulla pharetra diam sit amet nisl suscipit.
            Tellus in hac habitasse platea.
          </p>
        </li>
        <li class="set__item">
          <h3 class="set__subtitle">Diam phasellus</h3>
          <p class="set__txt">
            Vestibulum lorem sed risus ultricies tristique nulla. Ullamcorper
            dignissim cras tincidunt lobortis feugiat vivamus at.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
